<ion-list color="dark">

    <ion-item-sliding *ngFor="let item of _todoService.listas | filtroCompletado:terminada">
        <ion-item detail color="dark" (click)="listaSeleccionada(item)">
            <ion-label>
                {{item.titulo}}
            </ion-label>
            <ion-note slot="end" color="tertiary">{{item.items.length}} items</ion-note>
        </ion-item>

        <ion-item-options side="end">
            <ion-item-option color="danger" (click)="borrarLista(item)">
                <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-item-option>
        </ion-item-options>
        <ion-item-options side="start">
            <ion-item-option (click)="editarLista(item)">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>





</ion-list>